.character-view
  display: flex
  flex-direction: column

  .header
    .profile-image
      flex-shrink: 0
      position: relative
      overflow: hidden
      display: block

      img
        image-rendering: -moz-crisp-edges          /* Firefox */
        image-rendering:   -o-crisp-edges          /* Opera */
        image-rendering: -webkit-optimize-contrast /* Webkit (non-standard naming) */
        image-rendering: crisp-edges
        -ms-interpolation-mode: nearest-neighbor   /* IE (non-standard property) */

      &:before
        content: ''
        display: block
        width: 2rem
        background-color: $ps-background-dark
        position: absolute
        right: 100%
        top: 0
        height: 200%
        transform: rotate(-5deg)
        transform-origin: top right