.color-swatch
  $swatch-size: 3rem

  min-width: $swatch-size
  height: $swatch-size
  border-radius: 2px
  border: 1px solid $ps-border-color
  cursor: pointer
  margin-bottom: 0.5rem
  vertical-align: middle

  .title
    margin: -1px -1px -1px $swatch-size
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px
    height: $swatch-size
    line-height: $swatch-size
    padding: 0 0.5rem
    vertical-align: middle
    border: 1px solid $ps-border-color
    background-color: $ps-background-dark

    .color
      color: $ps-text-dark
      float: right
      font-size: 0.8rem