
// Photoshop Colors

$ps-background-color: #4d4d4d
$ps-background-dark: #444444
$ps-border-color: #3e3e3e
$ps-border-light: #666666

$ps-toolbar-color: #535353

$ps-text-color: #dddddd
$ps-link-color: #eeeeee

// Other Colors

$accent-color: #2baaad