html.ext-none,
html.ext-android
  body
    background-color: $site-background-color

  .toolbar
    background-color: $site-toolbar-color
    border-bottom-color: $site-border-color

  nav.toolbar
    @extend .z-depth-1

  input
    background-color: $site-background-input
    border-color: $site-border-color

  .header
    background-color: $site-background-dark

    .profile-image
      &:before
        background-color: $site-background-dark