.content
  padding: 0.5rem
  flex-grow: 1
  overflow: auto

  p
    margin: 0
    margin-bottom: 0.25rem

  &.relax
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .logo
      width: 100px
      height: 100px
      opacity: 0.3

    h1
      opacity: 0.3

  h2
    font-size: 0.8rem
    margin: 0.25rem 0
    font-weight: bold
    color: $ps-text-light