@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')

@import 'variables'

@import "toolbar"
@import "content"
@import "input"
@import "typography"

@import "components/ColorSwatch"
@import "components/CharacterView"
@import "components/CharacterCard"
@import "components/Spinner"
@import "components/Gallery"
@import "components/Lightbox"
@import "components/Header"

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  background-color: $ps-background-color

.App
  min-height: 100vh
  display: flex
  flex-direction: column
  height: 100vh