input, select, textarea, button
  font: inherit
  background-color: transparent
  color: inherit
  box-shadow: none !important
  outline-color: transparent
  padding: 0.5rem 0.5rem
  line-height: 1rem
  height: 2rem
  border: 1px solid transparent
  border-radius: 3px
  transition: all 0.1s ease

  html:not(.ext-photoshop) &
    padding-top: 0.75rem
    padding-bottom: 0.75rem
    height: 2.5rem
    line-height: 3rem

  &:focus
    box-shadow: none
    outline-color: $accent-color
    border-color: $accent-color

  i.material-icons
    font-size: 1.25rem
    line-height: 1.25rem
    height: 1rem
    width: 1.25rem
    vertical-align: middle
    position: relative
    top: -0.2rem
    display: block

  &:not(:disabled):not(.disabled)
    &:hover
      border-color: $ps-border-light
      //background-color: $ps-background-dark

  &:disabled, &.disabled
    border-color: transparent !important
    background-color: transparent !important
    color: #999 !important
    cursor: initial
    pointer-events: none

.input-container
  position: relative
  vertical-align: middle
  display: inline-block
  width: 100%

  input
    width: 100%

  html:not(.ext-photoshop) &
    label i.material-icons
      height: 2.5rem
      line-height: 2.5rem
      padding: 0

  &:not(:last-child)
    margin-right: 0.25rem

  &.with-icon
    input
      padding-left: 2.5rem

      &:focus
        & + label
          color: $accent-color

  label
    position: absolute
    left: 0
    top: 0
    bottom: 0
    display: block
    padding: 0
    width: 2.5rem

    i.material-icons
      font-size: 1.25rem
      line-height: 2rem
      height: 2rem
      width: 2rem
      text-align: center
      vertical-align: middle
      display: block

a, button
  cursor: pointer

  &:focus
    outline: none
    border-color: transparent

form
  &.constrain-width
    max-width: 320px
    margin-left: auto
    margin-right: auto

  button[type=submit]
    background-color: $accent-color
    display: block
    height: auto
    padding: 0 1rem
    text-transform: uppercase
    line-height: 2.5rem