.toolbar
  background-color: $ps-toolbar-color
  padding: 0.25rem 0.25rem
  border-bottom: 1px solid $ps-border-color
  line-height: 1rem
  position: relative
  flex-shrink: 0
  flex-grow: 0

  &.flex
    display: flex
    padding: 0.25rem 0

    & > div
      padding: 0 0.25rem

    .no-grow
      flex-grow: 0
      flex-shrink: 0

    .grow
      flex-grow: 1

      input
        width: 100% !important

  a, input, select, button
    display: inline-block

  a
    @extend button

  input
    background-color: $ps-background-color
    border-color: $ps-border-light

  .input-container
    position: relative
    vertical-align: middle
    display: inline-block
    width: 100%

    input
      width: 100%

    &:not(:last-child)
      margin-right: 0.25rem

    &.with-icon
      input
        padding-left: 1.5rem

        &:focus
          & + label
            color: $accent-color

    label
      position: absolute
      left: 0
      top: 1px
      bottom: 0
      display: block
      padding: 0.25rem

      i.material-icons
        font-size: 1rem
        height: auto
        line-height: inherit
        display: block
        vertical-align: middle

  &:not(.flex)
    .right
      position: absolute
      right: 0.25rem
      top: 0.25rem
      bottom: 0.25rem
      background-color: inherit
      padding-left: 0.25rem