.toolbar
  background-color: $ps-toolbar-color
  padding: 0.25rem 0.25rem
  border-bottom: 1px solid $ps-border-color
  line-height: 1rem
  z-index: $z-toolbar
  position: relative
  flex-shrink: 0
  flex-grow: 0

  html:not(.ext-photoshop) &
    height: 3.5rem
    padding: 0.5rem 0

    .text
      height: 2.5rem
      line-height: 2.5rem


  .toolbar-container &
    position: fixed
    top: 0
    right: 0
    left: 0

  @at-root
    .toolbar-container
      flex-shrink: 0
      flex-grow: 0
      height: 2.5rem

    html:not(.ext-photoshop) .toolbar-container
      height: 3.5rem

  .text
    padding: 0 0.25rem
    line-height: 2rem
    height: 2rem
    overflow: hidden

    &.strong
      font-weight: bold

  .divider
    display: inline-block
    margin: -0.25rem 0.25rem
    height: calc(100% + 0.5rem)
    width: 0px
    vertical-align: top
    border-right: 1px solid $ps-border-color

  &.flex
    display: flex
    padding: 0.25rem 0

    & > div
      padding: 0 0.25rem

    .no-grow
      flex-grow: 0
      flex-shrink: 0

    .grow
      flex-grow: 1

      input
        width: 100% !important

  a, input, select, button
    display: inline-block

  a
    @extend button

  input
    background-color: $ps-background-color
    border-color: $ps-border-light

  &:not(.flex)
    .right
      position: absolute
      right: 0.25rem
      top: 0.25rem
      bottom: 0.25rem
      background-color: inherit
      padding-left: 0.25rem