code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

a
  color: $ps-link-color
  text-decoration: none

h1, h2, h3
  font-family: Roboto, sans-serif
  font-weight: 300
  color: white